<h1>
  {{title}}
</h1>

<!--

<section class="main">
  <label for="toggle-all">Mark all as complete</label>
  <input id="toggle-all" class="toggle-all" type="checkbox">
  <ul class="todo-list">
    <li class="completed">
      <div class="view">
        <input class="toggle" type="checkbox" checked>
        <label>Install angular-cli</label>
        <button class="destroy"></button>
      </div>
      <input class="edit" value="Create a TodoMVC template">
    </li>
    <li>
      <div class="view">
        <input class="toggle" type="checkbox">
        <label>Understand Angular2 apps</label>
        <button class="destroy"></button>
      </div>
      <input class="edit" value="Rule the web">
    </li>
  </ul>
</section>

-->


<app-task-overview></app-task-overview>
  
<!-- <app-team></app-team> -->
<app-messages></app-messages>
